:root {
  --primary:  #E3F6FE;
  --secondary: #202C5B;
  --text: #4F6796
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  font-size: 16px;
}
*, *::before, *::after {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
  margin: unset;
  padding: unset;

}
.primary {
  color: var(--primary)
}
.secondary  {
  color :var(--secondary); 
}
.light-text {
  font-weight: 400;
}
.main_frame {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.left_side {
  width: 70%;
  padding: 2rem 4rem;
  background-color: var(--primary);
 display: flex;
 flex-direction: column;

}
.right_side {
  width: 30%;
  background-color: var(--secondary);
  padding : 2rem 4rem;
  display: flex;
}
@media only screen and (max-width: 630px) {
  .main_frame{
    flex-direction: column;
  }
  .left_side {
    height: 60vh;
    width: unset;
    padding: 2rem 1rem;
  }
  .right_side{
    height: 40vh;
    width: unset;
  }
}
.search {
  height: 3rem;
  border: unset;
  padding: 0 2rem;  
  width: 100%;
}

.search-bar {
  position: relative;
  width: 100%;
  display: inline-block;
}
.search-icon {
  position: relative;
  top: -2rem;
  right: -0.5rem;
}
.suggestion-item{
  background-color: var(--secondary);
  color: white;
  padding: 0 2rem;
  border-bottom: 0.5px solid white;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: -1.2rem;
}
.suggestion-item:hover{
  opacity: 0.5;
}