:root {
  --primary:  #E3F6FE;
  --secondary: #202C5B;
  --text: #4F6796
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.primary {
  color: var(--primary)
}
.secondary  {
  color :var(--secondary); 
}
.light-text {
  font-weight: 400;
}
.main_frame {
  display: flex;
  height: 100vh;
  justify-content: space-around;


}
.left_side {
  width: 70%;
  padding: 2rem 4rem;
  background-color: var(--primary);
 display: flex;
 flex-direction: column;

}
.right_side {
  width: 30%;
  background-color: var(--secondary);
  padding : 2rem 4rem;
}
@media screen and (max-width: 480px) {
  .main_frame{
    flex-direction: column;
  }
  .left_side {
    height: 60vh;
    width: unset;
    padding: 2rem 0;
  }
  .right_side{
    height: 40vh;
    width: unset;
  }
}
.search {
  height: 3rem;
  border: unset;
  padding: 0 2rem;  
}
.search-bar {
  position: relative;
  width: min-content;
}
.search-icon {

  position: relative;
bottom: 48%;
left: 2%;
}
